@model IEnumerable<EFCoreProductApp.Business.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Category</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    @if (ViewBag.PageNumber > 1)
    {
        <a asp-action="Index" asp-route-pageNumber="@(ViewBag.PageNumber - 1)" asp-route-pageSize="@ViewBag.PageSize" class="btn btn-outline-primary mx-3">Previous</a>
    }
    <span>Page @ViewBag.PageNumber</span>
    <a asp-action="Index" asp-route-pageNumber="@(ViewBag.PageNumber + 1)" asp-route-pageSize="@ViewBag.PageSize" class="btn btn-outline-primary mx-3">Next</a>
</div>
<br></br>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back To Home</a>

