@model IEnumerable<EFCoreProductApp.Business.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

<a asp-action="Create" class="btn btn-primary">Add New Product</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Category.CategoryId</td>
                <td>@product.Category.CategoryName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (ViewBag.PageNumber > 1)
    {
        <a asp-action="Index" asp-route-pageNumber="@(ViewBag.PageNumber - 1)" asp-route-pageSize="@ViewBag.PageSize" class="btn btn-outline-primary mx-3">Previous</a>
    }
    <span>Page @ViewBag.PageNumber</span>
    <a asp-action="Index" asp-route-pageNumber="@(ViewBag.PageNumber + 1)" asp-route-pageSize="@ViewBag.PageSize" class="btn btn-outline-primary mx-3">Next</a>
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Back To Home</a>
</div>
